@media only screen and (max-width: 600px) {

nav{
    width: 100%;
}  
.cu{
padding: 0;
margin: 0;
}
.car{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: .5;
}
.para{
    margin-left: 20px;
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn a{
    padding: 12px 30px;
}
.img{
    display: none;
}
.coust {
    margin: 20px 0;
}
.rebox {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.details{
    text-align: center;
}
.barcart{
    display: none;
}
  }